<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <%- include("partials/navbar.ejs") %>
  </header>
  <% if (username){ %>
<h1><%= loadedFile.name %></h1>
<p>Created: <%= loadedFile.createdAt%></p>
<img src=<%=`/${ loadedFile.url }/download` %> alt="">
<a href=<%= `/${ loadedFile.url }/download` %> download="myImage.png" >Download</a>
    <% } %>
</body>

</html>
